<!-- {{ item.name }} - {{ item.price | priceFormat }} -->
<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info panel-shadow">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Name</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="items.length; else emptyCart">
                  <tr *ngFor="let item of items; index as i" appHighlight>
                    <td>
                      <img src="{{ item.image }}" class="img-cart w-25" />
                    </td>
                    <td>
                      <strong>{{item.title}}</strong>
                    </td>
                    <td>
                      <form class="form-inline">
                        <input [value]="item.quantity" class="form-control" type="number"
                          (blur)="handleChangeQty(item, $event.target.value)" />
                      </form>
                    </td>
                    <td>{{ item.price | priceFormat }}</td>
                    <td>{{ item.price * item.quantity }}</td>
                    <td class="btn btn-danger" (click)="deleteItem(item.id)">
                      Delete
                    </td>
                  </tr>

                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center gap-5">
        <a [routerLink]="['/products']" class="btn btn-success"><span
            class="glyphicon glyphicon-arrow-left"></span>&nbsp;Continue
          Shopping</a>
        <button class="btn btn-primary" (click)="checkout()">Check out</button>
        <button class="btn btn-danger" (click)="clearCart()">Clear Cart</button>
      </div>
      {{totalPrice}}
    </div>
  </div>
</div>

<ng-template #emptyCart>
  <p>Your cart is empty.</p>
</ng-template>