<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="../../../assets/shopping-cart-114.png" alt="" width="30" height="24"
        class="d-inline-block align-text-top" />
      Huy Envisu
    </a>
    <ng-container *ngIf="ability$ | async as ability">
      <div *ngIf="ability.can('manage', 'all')">Admin</div>
    </ng-container>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ng-container *ngIf="ability$ | async as ability">
      <ul *ngIf="ability.can('read', 'all')" class="navbar-nav">
        <li class="nav-item cart-icon">
          <a class="nav-link" [routerLink]="['/cart']">Cart</a>
          <span class="quantity">{{ quantity }}</span>
        </li>
      </ul>
    </ng-container>
    
  </div>
</nav>